@font-face {
    font-family: FontSourceCodeRegular;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: FontSourceCodeBold;
    src: url(../fonts/SourceCodePro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: RobotoMonoRegular;
    src: url(../fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: UbuntuRegular;
    src: url(../fonts/Ubuntu-Regular.ttf);
}