body{
    background-color: rgb(11, 25, 47);
}
@font-face {
    font-family: FontSourceCodeRegular;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: FontSourceCodeBold;
    src: url(../fonts/SourceCodePro-Bold.ttf);
    font-weight: bold;
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    float: right;
    width: 100%;
}

.navbar button{
    float: right;
    margin-right: 2%;
}

.presentacion {
    width: 80%;
    display: inline-block;
    margin: 3% auto 2% 1.5%;
    background-color: rgb(11, 25, 47);
}
.links-sociales{
    width: 80%;
    display: inline-block;
    margin: 3% auto 2% 1.5%;
}

h1{
    color: rgb(202, 213, 243);
    margin: 0%;
    font-family: FontSourceCodeBold;
}

h2{
    color: rgb(179, 193, 231);
    font-family: FontSourceCodeBold;
}

h4{
    color: rgb(122, 234, 219);
    font-family: FontSourceCodeRegular;
}

/* From uiverse.io by @nikk7007 */
button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
    z-index: 1;
    font-family: FontSourceCodeRegular;
    color: #17C3B2;
   }

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
}
   